header.masthead {
    background-image: url("../img/pineapple-supply-co-142106.jpg");
}

section#contact {
    background-color: transparent;
    background-image: url(../img/pineapple-supply-co-142108.jpg);
}