<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Portfolio Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'/>

    <!-- Custom styles for this template -->
    <link href="/assets/css/agency.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="icon" href="/assets/img/tropical-pineapple-black.png"/>

</head>
<body class="container">

    <h1>Portfolio Admin</h1>

    <div class="row">
        <div class="container col-md-8">
            <h4>Add a new project</h4>
            <form action="/createItem" method="post" class="form-control">
                <input type="text" name="title" placeholder="Title"/>
                <input type="text" name="subheader" placeholder="Subheader"/>
                <input type="text" name="description" placeholder="Description"/>
                <input type="text" name="monthCreated" placeholder="Month Created"/>
                <input type="text" name="category" placeholder="Category"/>
                <input type="text" name="gitUrl" placeholder="GitHub URL"/>
                <input type="text" name="liveUrl" placeholder="Production URL"/>
                <input type="text" name="thumbnailUrl" placeholder="Small img SRC/URL"/>
                <input type="text" name="largeUrl" placeholder="Large img SRC/URL"/>
                <input type="submit" value="Add"/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" th:each="project: ${projects}">
            <ul class="list-unstyled">
               <li><h4 th:text="${project.title}"></h4></li>
                <li>ID: <p th:text="${project.id}"></p></li>
                <li>Subheader: <p th:text="${project.subheader}"></p></li>
                <li>Description: <p th:text="${project.description}"></p></li>
                <li>GH URL: <p th:text="${project.gitUrl}"></p></li>
                <li>Production URL: <p th:text="${project.liveUrl}"></p></li>
                <li>Month Created: <p th:text="${project.monthCreated}"></p></li>
                <li>Category: <p th:text="${project.category}"></p></li>
                <li>Thumbnail URL: <p th:text="${project.thumbnailUrl}"></p></li>
                <li>Large URL: <p th:text="${project.largeUrl}"></p></li>
                <li>
                    <form action="/deleteItem" method="post">
                        <input type="hidden" name="id" th:value="${project.id}"/>
                        <input type="submit" value="Delete"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>